# Syntax

In [ ]:
writeBin(object, con)
readBin(con, what, n )

# Example

# Writing the Binary File

In [ ]:
# Read the "mtcars" data frame as a csv file and store only the columns "cyl", "am" and "gear".
write.table(mtcars, 
            file = "mtcars.csv",
            row.names = FALSE, na = "", 
            col.names = TRUE, sep = ",")

# Store 5 records from the csv file as a new data frame.
new.mtcars <- read.table("mtcars.csv",sep = ",",
                         header = TRUE,
                         nrows = 5)

In [4]:
new.mtcars

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [2]:
# Create a connection object to write the binary file using mode "wb".
write.filename = file("binmtcars.dat", "wb")

# Write the column names of the data frame to the connection object.
writeBin(colnames(new.mtcars), write.filename)

# Write the records in each of the column to the file.
writeBin(c(new.mtcars$cyl,new.mtcars$am,new.mtcars$gear), write.filename)

# Close the file for writing so that it can be read by other program.
close(write.filename)

# Reading the Binary File

In [6]:
# Create a connection object to read the file in binary mode using "rb".
read.filename <- file("binmtcars.dat", "rb")

# First read the column names. n = 3 as we have 3 columns.
column.names <- readBin(read.filename, character(),  n = 3)

# Next read the column values. n = 18 as we have 3 column names and 15 values.
read.filename <- file("binmtcars.dat", "rb")
bindata <- readBin(read.filename, integer(),  n = 18)

In [7]:
# Print the data.
print(bindata)

 [1]    6778989    7108963 1886611812    7366656 1952543332    7632640
 [7] 1667593073    7566848 1728081249    7496037 1651663203       1536
[13]       1536       1024       1536       2048        256        256

In [8]:
# Read the values from 4th byte to 8th byte which represents "cyl".
cyldata = bindata[4:8]
print(cyldata)

[1]    7366656 1952543332    7632640 1667593073    7566848

In [9]:
# Read the values form 9th byte to 13th byte which represents "am".
amdata = bindata[9:13]
print(amdata)

[1] 1728081249    7496037 1651663203       1536       1536

In [10]:
# Read the values form 9th byte to 13th byte which represents "gear".
geardata = bindata[14:18]
print(geardata)

[1] 1024 1536 2048  256  256

In [11]:
# Combine all the read values to a dat frame.
finaldata = cbind(cyldata, amdata, geardata)
colnames(finaldata) = column.names
print(finaldata)

            mpg        cyl disp
[1,]    7366656 1728081249 1024
[2,] 1952543332    7496037 1536
[3,]    7632640 1651663203 2048
[4,] 1667593073       1536  256
[5,]    7566848       1536  256