# R - Databases

# RMySQL Package

In [ ]:
install.packages("RMySQL")

# Connecting R to MySql

In [4]:
library("RMySQL")

In [5]:
# Create a connection Object to MySQL database.
# We will connect to the sampel database named "sakila" that comes with MySql installation.
mysqlconnection = dbConnect(MySQL(), 
                            user = 'root', 
                            password = '', 
                            dbname = 'sakila',
                            host = 'localhost')

# List the tables available in this database.
dbListTables(mysqlconnection)

ERROR: Error in .local(drv, ...): Failed to connect to database: Error: Access denied for user 'root'@'localhost' (using password: NO)

# Querying the Tables

In [6]:
# Query the "actor" tables to get all the rows.
result = dbSendQuery(mysqlconnection, "select * from actor")

# Store the result in a R data frame object. n = 5 is used to fetch first 5 rows.
data.frame = fetch(result, n = 5)
print(data.fame)

ERROR: Error in dbSendQuery(mysqlconnection, "select * from actor"): 找不到物件 'mysqlconnection'

# Updating Rows in the Tables

In [7]:
dbSendQuery(mysqlconnection, "update mtcars set disp = 168.5 where hp = 110")

ERROR: Error in dbSendQuery(mysqlconnection, "update mtcars set disp = 168.5 where hp = 110"): 找不到物件 'mysqlconnection'

# Inserting Data into the Tables

In [8]:
dbSendQuery(mysqlconnection,
   "insert into mtcars(row_names, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb)
   values('New Mazda RX4 Wag', 21, 6, 168.5, 110, 3.9, 2.875, 17.02, 0, 1, 4, 4)"
)

ERROR: Error in dbSendQuery(mysqlconnection, "insert into mtcars(row_names, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb)\n   values('New Mazda RX4 Wag', 21, 6, 168.5, 110, 3.9, 2.875, 17.02, 0, 1, 4, 4)"): 找不到物件 'mysqlconnection'

# Creating Tables in MySql

In [10]:
# Create the connection object to the database where we want to create the table.
mysqlconnection = dbConnect(MySQL(), 
                            user = 'root', 
                            password = '', 
                            dbname = 'sakila', 
                            host = 'localhost')

# Use the R data frame "mtcars" to create the table in MySql.
# All the rows of mtcars are taken inot MySql.
dbWriteTable(mysqlconnection, "mtcars", mtcars[, ], overwrite = TRUE)

ERROR: Error in .local(drv, ...): Failed to connect to database: Error: Access denied for user 'root'@'localhost' (using password: NO)

# Dropping Tables in MySql

In [11]:
dbSendQuery(mysqlconnection, 'drop table if exists mtcars')

ERROR: Error in dbSendQuery(mysqlconnection, "drop table if exists mtcars"): 找不到物件 'mysqlconnection'